/* 전체 리스트 */
.list {
  height: 74vh;
  background-color: "background.paper";
  overflow: auto;
  min-width: 100%;
  font-size: 15px;
  margin-top: 0px;
  padding-top: 0px;
}
/* 리스트 아이템 음식이름+가격 텍스트*/
.list .typography {
  display: inline;
  font-size: 12px;
}
.list .divider {
  background: rgba(188, 188, 188, 0.41);
}
/* 리스트 아이템 */
.listitem {
  margin: 0px 10px;
}
/* 리스트 아이템 아래 아바타 */
.listitem .avatar {
  height: 90px;
  width: 90px;
  border-radius: 8px;
}
/* 리스트 아이템 아래 텍스트 */
.listitem .listitemtext {
  margin: 10px;
}

/* 전체 페이지의 구분선 (hr) */
.mvcontainer .hr {
  border: 1.5px solid #bcbcbc41;
  margin-bottom: 0px;
}
/* 식당 이름 적혀있는 헤더부분 */
.mv-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

/* 하단부 버튼 텍스트 */
.text {
  font-size: 17px;
  font-weight: 900;
}
.footer-container {
  font-size: 17px;
  font-weight: 700;
}
/* 하단부의 버튼 */
.footer-container .btt {
  background-color: #7ca380;
  width: 400px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 8px;
}
.footer-container .btt :focus {
  background-color: #7ca380;
  width: 400px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 8px;
}
.footer-container .btt :hover {
  background-color: #7ca380;
  width: 400px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 8px;
}
