/* 전체페이지 */
.mdcontainer {
}

/* 식당 이름 있는 헤더 부분 */
.md-header {
  height: 83vh;
  background-color: "background.paper";
  overflow: auto;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
/* 헤더부분 식당이름 텍스트 */
.md-header .mdtext {
  font-weight: 900;
  text-align: center;
  font-size: 17px;
}
/* 헤더부분 이미지 */

.md-header .image {
  height: 585px;
}

/* 우돌돌피자 */
.fnbox {
  display: flex;
  margin: 5px;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  font-weight: 900;
}
/* 15000원 */
.fpbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
}
.fpbox .p {
  margin-top: -4px;
}
/* 1개 */
.fqbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  font-weight: 900;
}
/* + - 버튼 */
.md-header .fqbox .qicon {
  color: white;
  background-color: #7CA380;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.md-header img {
  object-fit: cover;
}

/* 하단 컨테이너 */
.footer-container {
  font-size: 17px;
  font-weight: 700;
}
.footer-container .detail_btt {
  width: 60%;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #7CA380;
  border: 1px solid #7CA380;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px lightgray;
}
.footer-container .detail_btt:focus,
.footer-container .detail_btt:hover {
  background-color: #597c5c;
  box-shadow: none;
  margin-top: 5px;
}
