/* 전체 리스트 */
.list {
  width: 90vw;
  height: 74vh;
  background-color: "background.paper";
  overflow: auto;
  overflow-x: none;
  min-width: 100%;
  font-size: 15px;
  margin-top: 0px;
  padding-top: 0px;
}
.list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* 리스트 아이템 음식이름+가격 텍스트*/
.list .typography {
  display: inline;
  font-size: 12px;
}
.list .divider {
  background: rgba(188, 188, 188, 0.41);
}
/* 리스트 아이템 */
.listitem {
  margin: 0px 10px;
}
/* 리스트 아이템 아래 아바타 */
.listitem .avatar {
  height: 90px;
  width: 90px;
  border-radius: 8px;
}
.listitem .avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
/* 리스트 아이템 아래 텍스트 */
.listitem .listitemtext {
  margin: 20px;
}

/* 전체 페이지의 구분선 (hr) */
.mvcontainer .hr {
  border: 1.5px solid #bcbcbc41;
  margin-bottom: 0px;
}
/* 식당 이름 적혀있는 헤더부분 */
.mv-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vh;
  padding: 55px 0px 10px 0px;
  background-color: #8fbc941e;
}

/* 하단부 버튼 텍스트 */
.text {
  font-size: 17px;
  font-weight: 900;
}
.footer-container {
  font-size: 17px;
  font-weight: 700;
}

/* 하단부의 버튼 */
.footer-container .view_btt {
  width: 60%;
  padding: 10px 15px;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #7ca380;
  border: 1px solid #7ca380;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px lightgray;
}

.footer-container .view_btt:focus,
.footer-container .view_btt:hover {
  background-color: #597c5c;
  box-shadow: none;
  margin-top: 5px;
}
