.navbar {
  color: #47647c;
  margin-top: 10px;
  text-align: center;
}

.navbar .span {
  float: left;
  font-weight: 900;
  color: #47647c;
  padding-top: 3px;
}
.navbar .title {
  font-size: 17px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}
