body {
  margin-bottom: 50px;
}

.postheader {
  display: flex;
  margin: 11px;
}

.postheader span {
  font-weight: 900;
}

.postheader .MyPostsBigName {
  color: #7CA380;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  margin-left: 135px;
}

.MyPostsName {
  color: #7CA380;
  font-weight: 700;
}

.post_profile-container {
  display: flex;
  margin: 20px 20px 0px 340px;
}

.post_profile-container .img {
  width: 37px;
  height: 37px;
  margin-bottom: 0px;
  border-radius: 50%;
  background-color: #7CA380;
}

.mypost-explain {
  margin-left: 8px;
  margin-top: 9px;
  font-size: 15px;
}

.posts-container {
  margin-top: 5px;
  margin-left: 50px;
  overflow: scroll;
}

.posts-container::-webkit-scrollbar {
  display: none;
}

.post {
  width: 80%;
  height: 110px;
  background: #8fbc941e;
  text-align: left;
  font-size: 15px;
  border-radius: 30px;
  margin-top: 20px;
  padding-top: 25px;
  padding-left: 32px;
}

.post:hover {
  cursor: pointer;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.mypost_btn {
  margin-left: 220px;
  width: 70px;
  height: 33px;
  font-size: 15px;
  font-weight: 700;
  border: 0px;
  border-radius: 3px;
  color: white;
  background-color: #47647c;
}

.MyPostsLink {
  text-decoration: none;
  color: black;
}

.MyPostsCancel {
  width: 60px;
  height: 30px;
  margin-top: 14px;
  border: none;
  background: #7CA380;
  border-radius: 6px;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  margin-right: 12px;
  margin-left: 10px;
}

.MyPostsButton {
  display: flex;
}

.MyPostsButton a {
  margin-left: 140px;
}

.no-posts-alert {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
