body {
  margin-bottom: 50px;
}

.postheader .MyPostsBigName {
  color: #7ca380;
  margin-top: 2px;
  text-align: center;
  font-weight: 900;
  margin-left: 20px;
}

.mypost-explain {
  margin-left: 25px;
  margin-top: 22px;
  font-size: 20px;
}

.posts-container {
  margin-top: 35px;
  margin-left: 50px;
}

.post {
  width: 80%;
  height: 110px;
  background: rgba(143, 188, 148, 0.3);
  text-align: left;
  border-radius: 7px;
  margin-top: 20px;
  padding-top: 25px;
  padding-left: 32px;
}

.post:hover {
  cursor: pointer;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.mypost_btn {
  margin-left: 220px;
  width: 70px;
  height: 33px;
  font-size: 15px;
  font-weight: 700;
  border: 0px;
  border-radius: 3px;
  color: white;
  background-color: #47647c;
}

.MyPostsLink {
  text-decoration: none;
  color: black;
}

.MyPostsCancel {
  width: 120px;
  height: 30px;
  margin-top: 14px;
  border: none;
  background: #7ca380;
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  margin-right: 12px;
  margin-left: 10px;
}

.MyPostsButton {
  display: flex;
}

.no-posts-alert {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
