body {
  margin-bottom: 50px;
}

.postheader {
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 10px 0px 10px 0px;
  border-bottom: 3px solid #bcbcbc41;
  z-index: 9;
  background-color: white;
}

.postheader span {
  font-weight: 900;
  margin-left: 10px;
}

.postheader .MyPostsBigName {
  color: #7ca380;
  margin-top: 2px;
  text-align: center;
  font-weight: 700;
  margin-left: 120px;
}

.MyPostsName {
  color: #7ca380;
  font-weight: 700;
}

.post_profile-container {
  display: flex;
  margin: 68px 20px 0px 270px;
}

.post_profile-container .img {
  width: 37px;
  height: 37px;
  margin-bottom: 0px;
  border-radius: 50%;
  background-color: #7ca380;
}

.mypost-explain {
  margin-left: 8px;
  margin-top: 9px;
  font-size: 15px;
}

.posts-container {
  margin-top: 5px;
  margin-left: 50px;
  overflow: scroll;
}

.posts-container span {
  color: black;
}

.posts-container .post-title {
  padding: 3px 0px 0px 5px;
}

.posts-container .post-place {
  font-size: 12px;
  padding: 5.8px 0px 0px 5px;
}

.posts-container::-webkit-scrollbar {
  display: none;
}

.post {
  width: 80%;
  height: 115px;
  background: #8fbc941e;
  text-align: left;
  font-size: 15px;
  border-radius: 30px;
  margin-top: 20px;
  padding-top: 18px;
  padding-left: 25px;
}

.post:hover {
  cursor: pointer;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.mypost_btn {
  margin-left: 220px;
  width: 70px;
  height: 33px;
  font-size: 15px;
  font-weight: 700;
  border: 0px;
  border-radius: 3px;
  color: white;
  background-color: #47647c;
}

.MyPostsLink {
  text-decoration: none;
  color: black;
}

.MyPostsCancel {
  width: 60px;
  height: 30px;
  margin-top: 14px;
  border: none;
  background: #7ca380;
  border-radius: 6px;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

.MyPostsButton {
  display: flex;
}

.MyPostsButton a {
  margin-left: 105px;
}

.no-posts-alert {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
