.mypost-explain {
  margin-left: 25px;
  margin-top: 22px;
  font-size: 20px;
}

.posts-container {
  margin-top: 35px;
  margin-left: 50px;
}

.post {
  width: 100%;
  height: 99px;
  background: rgba(215, 233, 247, 0.3);
  text-align: left;
  border-radius: 7px;
  margin-top: 20px;
  padding-top: 25px;
  padding-left: 32px;
}

.post:hover {
  cursor: pointer;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.mypost_btn {
  margin-left: 220px;
  width: 70px;
  height: 33px;
  font-size: 15px;
  font-weight: 700;
  border: 0px;
  border-radius: 3px;
  color: white;
  background-color: #47647C;
}