.login-main-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  color: #9ab18a;
  margin-top: 250px;
}

.login-button {
  width: 339px;
  height: 45px;
  border-radius: 4px;
  background: #9ab18a;
  color: #fff;
  font-size: 15px;
  font-weight: bold 900;
  border: none;
  margin-left: 30px;
  margin-bottom: 20px;
}

.login-button:hover {
  cursor: pointer;
}

.button {
  margin-left: 295px;
}

.no-account {
  font-weight: 700;
  color: #9ab18a;
  text-decoration: none;
  vertical-align: middle;
}

.material-symbols-rounded {
  color: #9ab18a;
  vertical-align: middle;
}
