.myheader .mypage_name {
  font-weight: 700;
  font-size: 17px;
  color: #7ca380;
  margin-top: 3.5px;
  margin-left: 155px;
}

.profile-container img {
  width: 112px;
  height: 112px;
  background: #7ca380;
  border-radius: 100%;
}

.imgg {
  width: 70px;
  height: 70px;
  background: #7ca380;
  border-radius: 100%;
  margin-bottom: 30px;
}

.mypage-explain .username {
  font-size: 15px;
  font-weight: 700;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.mypage-explain {
  margin-top: 10px;
  margin-left: 20px;
}

.mypage-explain div {
  margin: 5px;
  font-size: 12px;
  font-weight: 540;
}

.button-container {
  margin-top: 50px;
  margin-left: 45px;
}

.button-container button {
  margin: 5px;
  background: #7ca380;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-size: 14px;
}

.button-container button {
  cursor: pointer;
}

.no-bye {
  width: 85%;
  height: 35px;
}

.bye button {
  width: 41.2%;
  height: 35px;
}

.myheader {
  display: flex;
  color: #7ca380;
  margin: 10px;
  text-align: center;
}

.myheader span {
  font-weight: 700;
}

.blue-container {
  width: 88%;
  border: solid 1.5px #7ca380;
  border-radius: 10px;
  margin-bottom: 15px;
}

.blue-container li {
  list-style: none;
  margin-top: 18px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.mypage-title {
  font-weight: 700;
  font-size: 15px;
}

.mypage-content {
  font-size: 12px;
}

.MyPageRed {
  background-color: #f08784;
  border-radius: 4px;
  margin-left: 10px;
}

.MyPageGreen {
  background-color: #9ab18a;
  border-radius: 4px;
  margin-left: 10px;
}
