.signup-main-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  color: #7CA380;
  margin-top: 110px;
}

.certification {
  display: flex;
  align-items: center;
}

.certification button {
  margin-left: 10px;
}

.yes-account {
  font-weight: 700;
  color: #7CA380;
  text-decoration: none;
  vertical-align: middle;
}

.login-btn {
  margin-left: 313px;
}
