.yes-account {
  font-weight: 700;
  color: #9ab18a;
  text-decoration: none;
  vertical-align: middle;
}

.login-btn {
  margin-left: 320px;
}

.SignUpMainTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #9ab18a;
  margin-top: 130px;
  margin-bottom: 60px;
}

.SignUpInput {
  background: #f6f6f6;
  height: 50px;
  width: 68.5%;
  justify-content: center;
  margin-top: 30px;
  border-radius: 50px;
  margin-left: 54px;
  border: none;
  padding-left: 30px;
}

.SignUpInput:focus {
  outline: none;
}

.SignUpSelect {
  width: 110px;
  height: 50px;
  border-radius: 50px;
  margin-left: 54px;
  margin-top: 30px;
  margin-bottom: 1px;
  padding-left: 10px;
}

.SignUpAccount {
  display: flex;
}

.SignUpButton {
  width: 75%;
  margin-left: 54px;
  border-radius: 50px;
  border: none;
  height: 50px;
  background: #9ab18a;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.SignUpInputAccount {
  background: #f6f6f6;
  height: 50px;
  width: 60%;
  justify-content: center;
  margin-top: 30px;
  border-radius: 50px;
  margin-left: 10px;
  border: none;
  padding-left: 30px;
  margin-right: 58px;
}

.SignUpInputAccount:focus {
  outline: none;
}
