.yes-account {
  font-weight: 700;
  color: #9ab18a;
  text-decoration: none;
  vertical-align: middle;
}

.school_email {
  position: relative;
}

.end_email {
  position: absolute;
  top: 33px;
  right: 80px;
  font-size: 15px;
  color: #000;
}

.login-btn {
  margin: 5px 0px 0px 280px;
}

.SignUpMainTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #9ab18a;
  margin-top: 90px;
  margin-bottom: 20px;
}

.SignUpInput,
.SignUpInputAccount {
  background: #bcbcbc21;
  width: 60%;
  font-size: 12px;
  justify-content: center;
  margin-top: 30px;
  border-radius: 50px;
  margin-left: 54px;
  border: none;
  padding: 18px 20px 18px 30px;
}

.SignUpInputAccount {
  width: 33%;
  padding-left: 140px;
}

.SignUpInput:focus {
  outline: none;
}

.SignUpSelect {
  position: absolute;
  top: 2px;
  left: 20px;
  width: 105px;
  height: 50px;
  font-size: 15px;
  border-radius: 50px;
  margin-left: 54px;
  margin-top: 30px;
  margin-bottom: 1px;
  padding-left: 10px;
}

.SignUpAccount {
  position: relative;
  display: flex;
}

.SignUpButton {
  width: 72.5%;
  margin-left: 54px;
  border-radius: 50px;
  border: none;
  height: 50px;
  background: #9ab18a;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.SignUpInputAccount:focus {
  outline: none;
}
